# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/property_hub?schema=public"

# Server
PORT=3001
NODE_ENV=development

# Keycloak JWT Configuration
KEYCLOAK_REALM_URL=http://localhost:8080/realms/property-hub
KEYCLOAK_CLIENT_ID=property-hub-frontend

# Keycloak Admin Configuration (for Invitation Service)
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# JWT Configuration (for manual verification if needed)
JWT_SECRET=your-secret-key-change-this-in-production

# CORS
CORS_ORIGIN=http://localhost:5173

DATA_GOV_IN_API_KEY=

#instagram
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=https://yourdomain.com/api/instagram/oauth-callback
INSTAGRAM_OFFICIAL_USER_ID=
INSTAGRAM_OFFICIAL_ACCESS_TOKEN=

# WhatsApp
WHATSAPP_ACCESS_TOKEN=
FB_GRAPH_API_BASE_URL=https://graph.facebook.com/v23.0
WHATSAPP_PHONE_NUMBER_ID=

# Email Configuration (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=

# Razorpay Configurations
RAZORPAY_KEY_ID=rzp_test_RENvNtOLr6vA5o
RAZORPAY_KEY_SECRET=BoZ3n6GdtlNBKBIAhSLF10Q0
RAZORPAY_WEBHOOK_SECRET=your-razorpay-webhook-secret

# Telephony Configuration
DEFAULT_CALL_PROVIDER=EXOTEL # EXOTEL, KNOWLARITY, TWILIO

# Exotel
EXOTEL_API_KEY=
EXOTEL_API_TOKEN=
EXOTEL_ACCOUNT_SID=
EXOTEL_CALLER_ID=

# Knowlarity
KNOWLARITY_API_KEY=
KNOWLARITY_SR_NUMBER=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Cloudflare R2 Configuration
S3_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=
S3_REGION=auto
S3_FORCE_PATH_STYLE=false
