# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/property_hub?schema=public"

# Server
PORT=3001
NODE_ENV=development

# Keycloak JWT Configuration
KEYCLOAK_REALM_URL=http://localhost:8080/realms/property-hub
KEYCLOAK_CLIENT_ID=property-hub-frontend

# Keycloak Admin Configuration (for Invitation Service)
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# JWT Configuration (for manual verification if needed)
JWT_SECRET=your-secret-key-change-this-in-production

# CORS
CORS_ORIGIN=http://localhost:5173

DATA_GOV_IN_API_KEY=

#instagram
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=https://yourdomain.com/api/instagram/oauth-callback
INSTAGRAM_OFFICIAL_USER_ID=
INSTAGRAM_OFFICIAL_ACCESS_TOKEN=

# WhatsApp
WHATSAPP_ACCESS_TOKEN=
FB_GRAPH_API_BASE_URL=https://graph.facebook.com/v23.0
WHATSAPP_PHONE_NUMBER_ID=

# Email Configuration (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=
